<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">


  </head>

  <body>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Users Supervision') %></h1>
        <!-- <h3 class="container"><code></code></h3> -->
    </div>

<a href="/user/create"><button type="button" class="btn btn-success">Create</button></a>

<table class="table">
	<caption>Registered Users</caption>

	<thead>
		<tr> 
				<th>#</th>
				<th>Login</th>
				<th>First Name</th>
	 			<th>Last Name</th> 
	 			<th>Account type</th>
	 			<th>Action</th> 
		</tr> 
		</thead> 
		<tbody>
		<% users.forEach( function( user ){ %>
    		<tr> 
				<th scope="row"><%=user.id %></th> 
				<td><%=user.login %></td>
				<td><%=user.firstname %></td>
				<td><%=user.lastname %></td>
				<td><%=user.accountType %></td>
				<td>
					<a href="/user/view/<%=user.id %>">
						<button type="button" class="btn btn-primary">View</button>
					</a>
					<a href="/user/update/<%=user.id %>">
						<button type="button" class="btn btn-info">Edit</button>
					</a>
					<a href="/user/delete/<%=user.id %>">
						<button type="button" class="btn btn-danger">Delete</button>
					</a>
				</td>
	 		</tr>
 		<% }); %>
	     </tbody>
</table>
